.inputFileImg {
    position: relative;
    display: inline-block;
}
.inputFileImg:hover{
    background-color: #b5bc28;
    cursor: pointer;
}
.inputFileImg::before{
    cursor: pointer;
    font-size: small;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: 'Click aquí para agregar imagen';
}
.inputFileImg input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 12px;
    display: inline-block;
    cursor: pointer;
  }