footer {
    width: 100%;

}
.AppContainer{
    width: 100%;
    height: 700px;
  overflow-y: scroll !important;
}

.mainContainer {
  overflow-x: scroll !important;
margin: 0;
    padding: 0px;
    background-color: rgb(225, 225, 225);
    width: 100%;
  height: max-content; /* Define una altura */
  
}




@media (max-width: 800px) {
    .main-admin {
        display: block;
    }
}

@media (max-width: 600px) {
    @media (max-width: 350px) {}
}

@media (max-width: 300px) {
    .noRenderAdminDesktop {
        display: block;
    }

    .ContentAdmin {
        display: none;
    }
}